---
// import { cn } from '@/lib/utils'
import type { Movie } from '@/typings'
import MovieCard from './MovieCard.astro'

type Props = {
    title?: string,
    movies: Movie[],
    isVertical?: boolean 
}

const { title, movies }: Props = Astro.props
---
<div class='z-50'>
    <h2 class='text-xl font-bold px-10 py-2'>{title}</h2>

    <!-- <div class={cn('flex space-x-4 overflow-scroll px-5 lg:px-10 py-5 scrollbar-hide', isVertical && 'flex-col space-x-0 space-y-12')}> -->
    <div class='flex space-x-4 overflow-scroll px-5 lg:px-10 py-5 scrollbar-hide'>
        {
            // isVertical 
            // ?
            //     movies.map(movie => (
            //         <div
            //             class={cn('flex flex-col space-y-5 mb-5 items-center lg:flex-row space-x-5')}
            //         >
            //             <a href={`/movie/${movie.id}`}><MovieCard movie={movie} /></a>
            //             <div class='max-w-2xl'>
            //                 <p class='font-bold'>
            //                     {movie.title} ({movie.release_date?.split('-')[0]})
            //                 </p>
            //                 <hr class='mb-3' />
            //                 <p>{movie.overview}</p>
            //             </div>
            //         </div>
            //     ))
            // :
                movies?.map(movie => (
                    <MovieCard movie={movie} />
                ))
        }
    </div>
</div>